.container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F1C2B;
    margin-bottom: 2vw;
}

.logo{
    margin-left: 10vh;
    font-size: 22px;
}

.links{
    margin-right: 10vh;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #E9ECEA;
}

.icons{
    width: 50px;
    justify-content: space-between;
    gap: 20px;
    color: #E9ECEA;
}